
# dependencies
node_modules
.vscode/

# testing
coverage
reports
.eslintcache

# production
build
dist
.next

# misc
.env
.idea
*.iml
*.log
*.bak
.pccache
.DS_Store
test_results
temp
tmp

# special
app.config.local.js*
gasket.config.local.js*
config/**/*.overrides.js


# certs
certs