.header {
    background-color: white;
    position: sticky;
    height: 3cm;
  }

.logo {
    background-image: url("../style/assets/GD-logo.png");
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}