import React from 'react';
import { mount, ReactWrapper } from 'enzyme';
import toJson from 'enzyme-to-json';
import { Header } from '../../src/components/common';
import { TestApp } from '../test-utils/TestApp';

describe('Header', () => {
  let wrapper: ReactWrapper;

  beforeEach(() => {
    wrapper = mount(
      <TestApp>
        <div>...Your Component Here...</div>
      </TestApp>
    );
  });

  afterEach(() => {
    wrapper.unmount();
    jest.clearAllMocks();
  });

  it('component mounts', () => {
    expect(wrapper.length).toEqual(1);
  });

  it('should match snapshot', () => {
    expect(toJson(wrapper)).toMatchSnapshot();
  });
});
